@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply min-h-screen;
}

.grid-layout {
  @apply grid-cols-layout justify-center gap-[24px] xl:grid;
}

.slick-dots {
  margin: auto 0;
  padding: 0;
  position: absolute;
  bottom: 25px !important;
}

.slick-dots li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}

.slick-dots li button {
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  border-radius: 100%;
  padding: 0;
}

.slick-dots li.slick-active button::before {
  color: dodgerblue !important;
}

.slick-dots li button::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  color: white;
  opacity: 1 !important;
}
